
{% extends "admin/admin.html.twig" %}

{% block title %}Créer un établissement{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouvel établissement</h1>
        {{ include ("admin/admins/FormAdmins.html.twig", {form: form, button: 'Créer'}) }}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
