
<div class="row">
    <div class="col-4">
        {{form_start (form)}}
            {{ form_row (form.username)}}  
            <button class="btn btn-primary mt-4">{{button|default('Enregistrer')}}</button>
        {{form_end (form)}}
    </div>
</div>
