{% extends "base.html.twig" %}


{% block title %}Quand{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/pourquoi') }}
{% endblock %}

{% block body %}

    <p id="titlePage">Le don de cellules souches hématopoïétiques issue du sang de cordon ombilical apparaît comme alternative à la greffe de moelle osseuse, puisqu’il s’agit d’une source différente de cellules souches qui détient les mêmes spécificités et qui permet d’être moins invasive (prélèvement indolore) et qui reçoit une meilleure tolérance du receveur réduisant ainsi les possibilités de réactions immunitaires.</p>

    <h1>Pourquoi faire un don de sang de cordon ?</h1>
    <button class="accordion"><p class="accordionTitle">1.  Sauver des vies</p></button>
    <div class="panel">
        <p>Grâce à votre don de sang de cordon, des traitements innovants peuvent être mis en place afin d’aider les personnes malades, ainsi faire un don de sang de cordon c’est aussi redonné de l’espoir aux personnes atteintes de maladies graves. On compte environ 2000 personnes qui ont besoin d’une greffe de cellules souches hématopoïétiques en France chaque année. </p>
    </div>

    <button class="accordion"><p class="accordionTitle">2.	Aider la recherche</p></button>
    <div class="panel">
        <img class="illustrationAccordeon" src={{ asset ('img/test_labo.jpeg')}}><p>Les cellules souches prélevées dans le sang de cordon vont permettent de développer des activités scientifiques de recherche dans le domaine des cancers du sang et de la thérapie génique. Ainsi grâce à votre don de sang de cordon, les chercheurs peuvent mettre en place des traitements innovants. Lien renvoyant à onglet : Qu’est-ce que le don de sang de cordon « usage scientifique ».

        Grâce à votre don, on peut produire d’autres types de cellules sanguines ou du sérum ou du plasma. Le cordon ombilical peut être également utilisé pour produire différents types de cellules comme les cellules souches mésenchymateuses, ou les cellules endothéliales par exemple.</p>
    </div>

    <button class="accordion"><p class="accordionTitle">3.	Une action responsable et solidaire</p></button>
    <div class="panel">
        <p>L’acte de donner son sang de cordon est un acte citoyen, généreux, solidaire, et important qui peut aider de nombreuses personnes dans le besoin. Cette expérience riche s’inscrit dans une dynamique de partage tant pour le donneur que pour le receveur.</p>
    </div>

    <div class="cadre">
        <h2 class="TitleCadre" >Un prélèvement rapide et indolore</h2>

        <p>Le prélèvement de sang de cordon est un acte indolore, rapide et sans danger pour la mère et l’enfant. Il ne modifie en aucun cas le déroulement de l’accouchement et les gestes médicaux. Votre prélèvement se déroulera dans les meilleures conditions possibles, c’est-à-dire que si l’équipe médicale juge que la situation peut potentiellement présenter un risque direct ou indirect pour votre enfant ou vous-même, elle ne prendra aucun risque et le prélèvement n’aura pas lieu malgré votre accord donné.
        De plus cet acte ne change rien en ce qui concerne votre prise en charge et celle de votre enfant, elle reste la même, c’est-à-dire que le prélèvement de sang de cordon ne change en rien à l’attention portée à la mère et à son bébé une fois l’accouchement terminé.</p>
    </div>
    

    <h1>Les principes du don de sang de cordon</h1>
    <h2>Un acte bénévole et solidaire</h2>
    <p>Votre don de sang de cordon peut sauver des vies et redonner espoir au personnes atteintes de maladies graves. Vous êtes libre de réaliser ou non ce don. C’est un acte bénévole, aucune indemnité ni compensation financière ne vous sera versées. Si vous acceptez le principe, vous pourrez alors en discuter avec une personne du corps médical de votre choix afin d’avoir toutes les explications que vous désirez. A la suite de de cet entretien, une fiche informative vous sera remise ainsi que le document de consentement.</p>

{% endblock %}

{% block javascripts %}{% endblock %}

