$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

.schemaGeant{
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    #goutte{
        height: 128px;
        width: auto;
    }
    h2{
        margin-top: 0;
        .underline{
            text-decoration: underline $pastel 5px solid;
            display: inline;
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    i{
        transform: rotate(90deg);
    }
    .tooltipGeant{
        position: relative;
    }
    .tooltipGeant .tooltipGeantText {
        width: 128px;
        background-color: $pastel;
        color: $fond;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        transform: scaleY(0);
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        width: 256px;
        top: 100%;
        left: 50%;
        margin-left: 128px;
        transition: all 0.35s ease-in-out;
        transform-origin: 50% 0;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltipGeant:hover .tooltipGeantText {
        transform: scaleY(100%);
    }
}

//icons size
.icon{
    width: 128px;
    height: auto;
}

.valeurs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2em;
    .card-title{
        height: auto;
        margin-bottom: 1em;
        h2{
            margin-top: 1em;
        }
    }
    .card{
        min-height: 0;
        max-height: none;
        height: auto;
        width: auto;
        background-color: $pastel;
        box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
        align-items: flex-start;
        justify-content: space-between;
        transform: scale(100%);
        transition: transform .2s ease-in-out;
        .contentCard{
            font-size: 1em;
            font-weight: bold;
            margin: 0 4em;
            height: 100%;
            display: flex;
            align-items: center;
            li{
                margin-bottom: 1em;
            }
        }
    }
    .card:hover{
        transform: scale(102%);
        transition: transform .2s ease-in-out;
    }
}

.questions{
    margin-left: 2em;
}

.iso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .isoIcon{
        width: 128px;
        height: auto;
        margin-bottom: 1em;
    }
}
.photo{
    display: block;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}

.equipe{
    margin: 2em 10%;
}




//responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .questions{
        margin-left: 4em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .iso{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .isoIcon{
            margin-bottom: 0;
        }
        .isoText{
            margin-left: 3em;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .schemaGeant{
        margin: 3em 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #goutte{
            height: 80px;
            width: auto;
        }
        h2{
            margin-top: 0;
            font-size: 1em;
            .underline{
                text-decoration: underline $pastel 5px solid;
                display: inline;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
        i{
            transform: translateY(12.8px);
            font-size: 2.5em;
        }
    }
    //icons size
    .icon{
        width: 80px;
        height: auto;
    }

    .valeurs{
        .contentCard{
            font-size: 1.5em;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .schemaGeant{
        #goutte{
            height: 90px;
            width: auto;
        }
        h2{
            font-size: 1.5em;
        }
        i{
            transform: translateY(28.8px);
            font-size: 3.25em;
        }
    }
    //icons size
    .icon{
        width: 90px;
        height: auto;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    //icons size
    .icon{
        width: 128px;
        height: auto;
    }

    .schemaGeant{
        #goutte{
            height: 128px;
            width: auto;
        }
        i{
            font-size: 4em;
        }
    }

}
