
$pastel : #cec0d6;
$pastelHover : #b499c3;
$fond :#fffdf0;

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $fond;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// cadrillage page
.grid{
  background-color: $fond;
  display: grid;
  min-height: 100%;
  grid-template: auto 1fr auto / 12% auto 12%;
}

//header
.header{
  height: 150px;
  grid-area: 1 / 1 / 2 / 4;
  background-color: $pastel;
  border-bottom: solid 3px black;
  z-index: 3;
}

//main div
.main{
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: $fond;
  font-family: 'Hind Siliguri', sans-serif;
  .titlePage{
    p{
      font-size: 1.25em;
      line-height: 25px;
    }
  }
  h1{
    font-family: 'Karla', sans-serif;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  h2{
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  //encadré
  .cadre{
    h2{
      margin-top: 1em;
    }
    text-align: center;
    margin: 4em 0;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
  }

  //photo gauche paragraphe
  .illustrationLeft{
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    transform: scale(100%);
    transition: transform .2s ease-in-out;

  }
  .illustrationLeft:hover{
    transform: scale(102%);
    transition: transform .2s ease-in-out;
  }

  //icon gauche paragraphe
  .illustrationLeftIcon{
    margin-bottom: 2em;
    width: 64px;
    height: auto;
    float: left;
  }

  p{
    line-height: 20px;
    height: auto;
    font-size: 1.1em;
    margin-bottom: 2em;
    a{
      color: $pastel;
      font-weight: bold;
      text-decoration-color: black;
    }
  }
}

//taille des icon dans les schéma
.icon{
  width: 64px;
  height: auto;
}
.icon:hover{
  transform: scale(105%);
  transition: transform .2s ease-in-out;
}
.icon{
  transform: scale(100%);
  transition: transform .2s ease-in-out;
}


//footer
.footer{
  height: 300px;
  grid-area: 3 / 1 / 4 / 4;
  background-color: $pastel;
  border-top: solid 3px black;
}

//contenu footer
.footerContent{
  grid-area: 3 / 2 / 4 / 3;
  font-family: 'Hind Siliguri', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  span{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    a{
      margin-top: 1em;
      margin-right: 1em;
      font-family: 'Karla', sans-serif;
      font-size: 1em;
      color: black;
      text-decoration: none;
    }
    a:hover{
      color: rgba(0, 0, 0, 0.5);
    }
  }
  p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}


//navigation header
.navbar{
  grid-area: 1 / 1 / 4 / 4;
  height: 100vh;
  width: 100%;
  padding: 0 12%;
  transition: transform .35s ease-in-out;
  align-items: flex-start;
  background: $pastel;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  #logo{
    height: 100px;
    width: 100px;
    margin: 1.5em;
    margin-left: 0;
    transform: translateX(-100vw);
    img{
      width: 100px;
      height: auto;
    }
  }

  .headerText{
    font-family: 'Karla', sans-serif;
    transform: translateX(-100vw);
  }

  .nom{
    display: none;
  }

  .slogan{
    display: none;
  }

  //réseaux sociaux
  .network{
    display: none;
  }

  //liens de navigation
  .menuItems{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2em;
    li{
      list-style: none;
      margin-left: 15%;
      margin-bottom: 2.5em;
      a{
        font-family: 'Karla', sans-serif;
        font-size: 1.25em;
        text-decoration: none;
        color: $fond;
        position: relative;
      }
      a::before{
        content: "";
        position: absolute;
        border-radius: 0 0 0 15px ;
        border-bottom: solid 3px $fond;
        border-left:solid 3px $fond;
        left: -0.5em;
        right: 0;
        top: 0;
        bottom: -0.5em;
      }
    }
  }
}

//affichage menu navigation
.no-scroll{
  overflow: hidden;
}
#NavToggle{
  display: none;
  
  ~ .navbar {
    transition-duration: 0.35s;
    transform: translateX(100vw);
    #nav-btn{
      z-index: 2;
      .menu-btn{
        grid-area: 1 / 2 / 2 / 3;
        position: fixed;
        right: 12%;
        margin-top: 35px;
        transform: translateX(-100vw);
        transition: transform .35s ease-in-out;
        top: 0;
      }
    }
  }
}
#NavToggle:checked {
  display: none;

  ~ .main{
    transform: translateX(-10%);
    transition: all .35s ease-in-out;
  }
  
  ~ .navbar {
    transform: translateX(0);
    align-items: flex-start;
    #nav-btn{
      z-index: 2;
      .menu-btn{
        position: fixed;
        right: calc(12% + 13px);
        margin-top: 35px;
        transform: translateX(0);
        transition: transform .35s ease-in-out;
        top: 0;
      }
    }
    #logo{
      display: none;
    }
  }
}


//btn menu de nav
.menu-btn{
  height: 80px;
  width: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  transform: translateX(-100vw);
}


.menu-btn-burger{
  width: 50px;
  height: 6px;
  background: $fond;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

//animation btn nav
.menu-btn-burger::after, .menu-btn-burger::before{
  content: "";
  position: absolute;
  background: $fond;
  width: 50px;
  height: 6px;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
}
.menu-btn-burger::before{
  transform: translateY(-16px);
}
.menu-btn-burger::after{
  transform: translateY(16px);
}

.menu-btn.open .menu-btn-burger{
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(35px, 35px);
}

//encadrement texte violet
.textPurple{
  border-radius: 0 0 0 15px;
  border-bottom: 4px solid $pastel;
  border-left: $pastel 4px solid;
  width: auto;
  margin-bottom: 1em;
  p{
      font-weight: bold;
      margin: 1em;
      width: auto;
  }
}

//go to top btn
.gotoTop{
  visibility: hidden;
}


//responsive

// X-Small devices (portrait phones, 360px and up)
@media (min-width: 360px) {
  .navbar{
    .menuItems{
      li{
        a{
          font-size: 1.5em;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer{
    height: 150px;
  }
  .footerContent{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  .navbar{
    .menuItems{
      li{
        margin-bottom: 3.5em;
        a{
          font-size: 2em;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .navbar{
    .nom{
      display: block;
      position: absolute;
      font-size: 2em;
      top: 56.5px;
      left: calc(12vw + 100px);
    }
  }
  .main{
    //photo gauche paragraphe
    .illustrationLeft{
      margin-right: 2em;
      margin-bottom: 1em;
      width: 400px;
      height: auto;
      border-radius: 15px;
      box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    }

    //icon gauche paragraphe
    .illustrationLeftIcon{
      margin-bottom: 2em;
      margin-bottom: 1em;
      width: 128px;
      height: auto;
      float: left;
    }
    .illustrated{
      min-height:290px;
    }
  }
}

// Medium devices
@media (min-width: 835px) {
  .navbar{
    .nom{
      font-size: 2.5em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  //scrollbar
  /* Works on Firefox */
  *{
    scrollbar-width: thin;
    scrollbar-color: $pastel $fond;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
    
  }

  *::-webkit-scrollbar-track {
    background: $fond;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  *::-webkit-scrollbar-thumb {
    background-color: $pastel;
    border-radius: 15px;
  }

  *::-webkit-scrollbar-thumb:hover{
    background-color: $pastelHover;
  }

  //taille icon dans les schémas
  .icon{
    width: 128px;
  }
  
  .navbar{
    #logo{
      height: 100px;
      width: 100px;
    }
  }

  .main{
    .cadre{
      padding: 0 2em;
    }
  }

  .menu-btn{
    margin: 1.5em;
  }

  //go to top btn
  .gotoTop{
    visibility: visible;
    position: sticky;
    float: right;
    bottom: 2em;
    margin-right: -12%;
    .linktoTop{
      .btntoTop{
        outline: none;
        background: transparent;
        color: $pastel;
        border: none;
        cursor: pointer;
      }
      .btntoTop:hover{
        color: $pastelHover;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  
  .menu-btn{
    display: none;
  }

  //header
  .header{
    position: sticky;
    top: -90px;
  }

  .navbar{
    position: sticky;
    top: -80px;
    width: 100%;
    height: 150px;
    .network{
      display: block;
      position: absolute;
      right: 12%;
      transform: translateX(-100vw);
      a{
        color: black;
        i{
          margin-left: 0.5em;
          margin-top: 0.75em;
        }
      }
      a:hover{
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .nom{
      top: 28px;
    }
    #logo{
      transform: translateX(-100vw);
      position: absolute;
      left: 12%;
    }
    .menuItems{
      transform: translateX(-100vw);
      display: block;
      position: absolute;
      top: 89px;
      right: 12%;
      height: auto;
      padding: 0;
      margin: 0;
      list-style: none;
      width: auto;
      li{
        float: left;
        margin-bottom: 1.5em;
        margin-left: 0.5em;
        a{
          font-family: 'Karla', sans-serif;
          font-size: 1.6em;
          display: inline-block;
          position: relative;
          color: black;
          text-decoration: none;
          padding-bottom: 4px;
          margin: 0;
          height: 33px;
        }
       a:before {    
          content: "";
          display: block;
          height: 3px;
          position: absolute;
          background:$fond;
          border-radius: 0;
          bottom: 0;
          top: auto;
          left: 0;
          width: 100%;
          transition: transform 0.35s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
        }
        a:hover:before { 
          transform: scaleX(1);
          transform-origin: bottom left; 
        }
        a:after{
          display: none;
        }
      }
    }
  }
  
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
  .navbar{
    ul{
      li{
        a{
          font-size: 1.8em;
        }
      }
    }
  }
  .footerContent{
    justify-content: flex-start;
    align-items: center;
    span{
      flex-direction: row;
      a{
        margin-top: 0;
        margin-right: 1em;
      }
    }
    p{
      position: absolute;
      right: 0;
      margin: 0;
    }
  }
}


// XXX-Large devices
@media (min-width: 1720px) {
  .navbar{
    .slogan{
      display: block;
      font-weight: 500;
      font-size: 1.2em;
      position: absolute;
      bottom: 29px;
      left: calc(12vw + 100px);
      padding-bottom: 4px;
    }
  }
}
