$pastel : #cec0d6;
$pastelHover : #b499c3;
$fond :#fffdf0;



.carousel{
    position: relative;
    overflow: hidden;
}

.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}

.carousel__item{
    float: left;
}