$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

.cardsHosto, .cardRecherche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card:hover{
        transform: scale(102%);
    }
    .card{
        transform: scale(100%);
        transition: transform .2s ease-in-out, max-height 0.35s ease-out;
    }
}

.cardRecherche{
    margin-bottom: 2em;
    .card{
        min-height: 0;
        height: 250px;
        background-color: $pastel;
        box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
        .card-title{
            h2{
                margin-top: 2em;
            }
        }
        .contentCard{
            font-size: .8em;
            font-weight: bold;
            margin: 0 4em;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

//italique latin
.latin{
    font-style: italic;
    width:min-content;
}

#cardRechercheTitle{
    margin-top: 2em;
}

.schemaCard{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    i{
        margin-bottom: 0.5em;
        transform: rotate(90deg);
    }
    .icon{
        margin: 1em 0;
    }
    h2{
        text-align: center;
    }
}

.prelevement, .doubleSchema{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.accouchement{
    margin-bottom: 2em;
    li{
        font-weight: bold;
        font-size: 1.1em;
        margin-left: 1em;
    }
}

.conforme, .pasConforme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    .icon{
        width: 64px;
        height: auto;
    }
    p{
        margin-bottom: 1em;
    }
    i{
        margin: 0;
    }
}


#arrowConforme{
    transform: rotate(90deg)
}

#conforme{
    transform: rotate(135deg);
}

#pasConforme{
    transform: rotate(45deg);
}

#greffeArrow{
    transform: rotate(45deg) translate(35%, -35%);
}

#logolbk{
    height: auto;
    width: 180px;
}

#cordon, #poche{
    box-shadow: none;
    width: 80px;
    height: auto;
}

#cordon{
    margin-top: 2em;
    transform: rotate(45deg);
}

.prodCordon, .prodSang{
    margin-left: 3em;
    .tooltipText{
        font-size: 1em;
    }
}

.prodSang{
    margin-top: 3em;
}

.listeUsage{
    margin-left: 2em;
}


//schema que peut on donner ?
#schemaDon{
    .card{
        width: 100%;
        height: auto;
        min-height: 0;
        border: none;
        position: relative;
        .panelCard{
            width: 100%;
        }
        .btnCard{
            position: absolute;
            top: 2em;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 200px;
            opacity: 0;
        }
        .schemaCard{
            align-items: space-around;
        }
    }

    .flecheGauche{
        transform: rotate(135deg);
        margin-right: 1em;
    }
    .flecheDroite{
        transform: rotate(45deg);
        margin-left: 1em;
    }

    .doubleFleche, .tripleFleche{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        i{
            margin: 0.2em;
        }
    }
    .schemaDonSteep1{
        width: 100%;
        .sangCordon{
            display: flex;
            justify-content: space-around;
            .sangSteep1{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .cordonSteep1{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h2{
                vertical-align: top;
            }
            .icon{
                margin: 0 1em;
            }
        }
    }
}

    



//responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cardRecherche{
        .card{
            width: 350px;
            .contentCard{
                font-size: 1em;
            }
        }
    }

    .schemaCard{
        h2{
            font-size: 1.5em;
        }
    }

    #logolbk{
        height: auto;
        width: 250px;
    }
}
  
  