$pastel : #cec0d6;
$pastelHover : #b499c3;

$fond :#fffdf0;


#btn2{
    height: 65px;
}
.cardsConditions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardConditions{
    .card{
        min-height: 0;
        height: 350px;
        background-color: $pastel;
        box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
        .card-title{
            h2{
                margin-top: 2em;
            }
        }
        .contentCard{
            font-size: .8em;
            font-weight: bold;
            margin: 0 4em;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

//responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cardRecherche{
        .card{
            .contentCard{
                font-size: 1em;
            }
        }
    }
}