$pastel : #cec0d6;
$pastelHover : #b499c3;
$fond :#fffdf0;


.homeBanner{
    margin: 0 -12vw;
    margin-top: -32px;
    background-image: url("homeBanner.png");
    min-height: 150px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.homeTitle{
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
}

.main{
    margin-bottom: 0;
    p{
        text-align: center;
        font-size: 1.2em;
    }
    .schemaGeant{
        margin: 2em 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        #pregnantIcon{
            transform: scaleX(-1);
        }
        h2{
            margin-top: 0;
            .underline{
                text-decoration: underline $pastel 5px solid;
                display: inline;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
        i{
            transform: rotate(90deg);
        }
        .tooltipGeant{
            position: relative;
        }
        .tooltipGeant .tooltipGeantText {
            width: 128px;
            background-color: $pastel;
            color: $fond;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            transform: scaleY(0);
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
            width: 120px;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            transition: all 0.35s ease-in-out;
            transform-origin: 50% 0;
        }
        
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltipGeant:hover .tooltipGeantText {
            transform: scaleY(100%);
        }
    }
}

//icons size
.icon{
    width: 128px;
    height: auto;
}


/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 150px;
    .title{
        text-align: center;
        position: absolute;
        width: 100%;
    }
    .text {
        color: black;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin: 1em 0;
    }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: $pastel;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 15px 15px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: $pastelHover;
}




/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $pastel;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
background-color: $pastelHover;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


//map
.map{
    margin: 0 -12vw;
    width: 100vw;
    height: 350px;
}

.gotoTop{
    visibility: hidden;
    height: 0;
}



//responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .main{
        .schemaGeant{
            margin: 3em 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            #pregnantIcon{
                transform: scaleX(-1);
            }
            h2{
                margin-top: 0;
                font-size: 1em;
                .underline{
                    text-decoration: underline $pastel 5px solid;
                    display: inline;
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }
            i{
                transform: translateY(12.8px);
                font-size: 2.5em;
            }
        }
    }
    //icons size
    .icon{
        width: 80px;
        height: auto;
    }

    .homeBanner{
        min-height: 250px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .main{
        .schemaGeant{
            h2{
                font-size: 1.5em;
            }
            i{
                transform: translateY(28.8px);
                font-size: 3.25em;
            }
        }
    }
    //icons size
    .icon{
        width: 90px;
        height: auto;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    //icons size
    .icon{
        width: 128px;
        height: auto;
    }

    .main{
        .schemaGeant{
            i{
                font-size: 4em;
            }
        }
    }
}



