$pastel : #cec0d6;
$pastelHover : #b499c3;
$fond :#fffdf0;

.homeBanner{
    position: sticky;
    top: 0px;
    margin: 0 -12vw;
    margin-top: -32px;
    width: 100vw;
    height:auto ;
}

.content{
    margin: 0 -12vw;
    padding: 0 12vw;
    position: relative;
    background-color: $fond;
    z-index: 2;
}




.homeText{
    text-align: center;
}

.main{
    margin-bottom: 0;
    .homeTitle{
        padding-top: 1em;
        margin-top: 0;
        text-align: center;
        font-weight: bold;
    }
    #temoignageTitle{
        margin-top: 2.5em;
        margin-bottom: 0em;
    }
    #temoignageCadre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    p{
        text-align: center;
        font-size: 1.2em;
    }
    .schemaGeant{
        margin: 2em 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        #goutte{
            height: 128px;
            width: auto;
        }
        h2{
            margin-top: 0;
            .underline{
                text-decoration: underline $pastel 5px solid;
                display: inline;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
        i{
            transform: rotate(90deg);
        }
        .tooltipGeant{
            position: relative;
        }
        .tooltipGeant .tooltipGeantText {
            width: 128px;
            background-color: $pastel;
            color: $fond;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            transform: scaleY(0);
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
            width: 120px;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            transition: all 0.35s ease-in-out;
            transform-origin: 50% 0;
        }
        
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltipGeant:hover .tooltipGeantText {
            transform: scaleY(100%);
        }
    }
}

//icons size
.icon{
    width: 128px;
    height: auto;
}

//actus
.actus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76vw;
    .grid-gallery{
        max-width: 1500px;
        width: 100%;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        justify-content: center;
        grid-gap: 15px;
    } 
    .grid-item{
        width: 280px;
        height: 187px;
    }
}


//map
.map{
    margin: 0 -12vw;
    width: 100vw;
    height: 350px;
}

.gotoTop{
    visibility: hidden;
    height: 0;
}



//responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    //actus
    .actus{
        .grid-gallery{
            grid-template-columns: repeat(auto-fill, 450px);
        } 
        .grid-item{
            width: 450px;
            height: 300px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


    .main{
        .schemaGeant{
            margin: 3em 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            #goutte{
                height: 80px;
                width: auto;
            }
            h2{
                margin-top: 0;
                font-size: 1em;
                .underline{
                    text-decoration: underline $pastel 5px solid;
                    display: inline;
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }
            i{
                transform: translateY(12.8px);
                font-size: 2.5em;
            }
        }
    }
    //icons size
    .icon{
        width: 80px;
        height: auto;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .homeBanner{
        top: 20px;
    }
    .main{
        .schemaGeant{
            #goutte{
                height: 90px;
                width: auto;
            }
            h2{
                font-size: 1.5em;
            }
            i{
                transform: translateY(28.8px);
                font-size: 3.25em;
            }
        }
    }
    //icons size
    .icon{
        width: 90px;
        height: auto;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    //icons size
    .icon{
        width: 128px;
        height: auto;
    }

    .main{
        .schemaGeant{
            #goutte{
                height: 128px;
                width: auto;
            }
            i{
                font-size: 4em;
            }
        }
    }
}



