$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);



.leaflet-popup-content-wrapper{
    background-color: $pastel !important;
    border-radius: 15px !important;
    border: black solid 2px;
    padding: 0 !important;
    .leaflet-popup-content{
        text-align: center;
        p{
            font-weight: bold;
            margin: 0;
        } 
    }
}

.leaflet-popup-tip{
    background-color: $pastel !important;
    border: black solid 2px;
}