$pastel : #cec0d6;
$pastelHover : #b499c3;
$fond :#fffdf0;


#map{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 600px;
}



.bulle{
    h2{
        position: relative;
        margin-left: 30px;
    }
    h2::before{
        content: '';
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: $pastel;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}