$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

#map{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 600px;
}



.bulle{
    h2{
        position: relative;
        margin-left: 30px;
    }
    h2::before{
        content: '';
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: $pastel;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.logoPartenaire{
    width: 220px;
    height: auto;
}

//responsive

// X-Small devices (portrait phones, 360px and up)
@media (min-width: 360px) {
    .logoPartenaire{
        width: 300px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .logoPartenaire{
        width: 480px;
    }
}

@media (min-width: 992px) {
    .logoPartenaire{
        width: 400px;
    }
    .coordonnees{
        width: 100%;
        float: right;
    }
}