$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

#map{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 600px;
}



.bulle{
    h2{
        position: relative;
        margin-left: 30px;
    }
    h2::before{
        content: '';
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: $pastel;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.main{
    .adresse{
        margin-bottom: 0;
    }
}


.logoPartenaire{
    width: 100%;
    height: auto;
}

//responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .logoPartenaire{
        width: 400px;
    }
}

@media (min-width: 768px) {
    .logoPartenaire{
        float: left;
        margin-right: 2em;
    }
    .coordonnees{
        overflow: hidden;
    }
}