$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

.bulle{
    h2{
        position: relative;
        margin-left: 30px;
    }
    h2::before{
        content: '';
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: $pastel;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.ethique{
    margin-left: 3em;
}