$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

ul{
    margin-left: 4em;
}

//schema étapes
.etapes{
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon{
        width: 100px;
        height: auto;
    }
    .between{
        display: block;
    }
    i{
        margin: 0.5em;
        transform: rotate(90deg);
    }
    .iconSchema{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 180px;
        margin: 0;
        .nb{
            position: absolute;
            left: 0;
            top: 0;
            padding: 0.3em;
            border-radius: 0 0 0 15px;
            border-bottom: 4px solid $pastel;
            border-left: $pastel 4px solid;
        }
    }
    .etape{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
}

//responsive

// X-Small devices (portrait phones, 360px and up)
@media (min-width: 390px) {
    .etape{
        .icon{
            width: 128px;
            height: auto;
        }
        .iconSchema{
            width: 256px;
            margin: 0 1em;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    //schema étapes
    .etapes{
        .between{
            display: none;
        }
        i{
            margin: 1em;
            transform: rotate(0deg);
        }
        .etape{
            flex-direction: row;
            align-items: center;
        }
    }
}