$pastel : #cec0d6;
$pastelHover : #52067a;
$fond :rgb(255, 248, 219);
$kaki: rgb(180, 139, 10);

/* Tooltip container */
.tooltip {
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid $pastel;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltipText {
    font-weight: bold;
    font-size: 0.8em;
    width: 300px;
    background-color: $pastel;
    color: $fond;
    text-align: left;
    padding: 15px;
    border-radius: 6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.35s ease-in-out;
    /* Position the tooltip text */
    position: fixed;
    z-index: 1;
    top: 25% ;
    right: 0;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltipText {
    transform: scaleX(100%);
  }