<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href={% block stylesheets %}{% endblock %}>
        <link rel="stylesheet" href={{asset ('css/base.css')}}>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
 
    </head>
    <body>
        <div class="grid">
            <div class="header">
            là c'est le header

                <a id="logo" class="nav-link" href="/" >Logo</a>

                <a class="nav-link" href="#" >F.A.Q</a>
                <a class="nav-link" href="#" > Quand ?</a>
                <a class="nav-link" href="#" >Où ?</a>
                <a class="nav-link" href="#" >Comment ?</a>
                <a class="nav-link" href="#" >Pourquoi ?</a>
                <a class="nav-link" href="#" >Qu'est ce que le don de sang placentaire ?</a>
                <a class="nav-link" href={{path ('about')}} >Qui sommes nous ?</a>
            </div>
            <div class="main">
                {% block body %}{% endblock %}
            </div>
            <div class="footer">
                le footer
            </div>
        </div>
        
        <!--fontAwesome--> 
        <script src="https://kit.fontawesome.com/695ef1a9d2.js" crossorigin="anonymous"></script>
    </body>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
