<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href={% block stylesheets %}{% endblock %}>
        <link rel="stylesheet" href={{asset ('css/base.css')}}>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
 
    </head>
    <body class="grid">
        <div class="header">
            le header
        </div>
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            le footer
        </div>
    </body>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
