
{% extends "admin/admin.html.twig" %}

{% block title %}Mon espace{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/monEspace') }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="modif">
            <h1>Modifier mes informations</h1>
            <form action={{ path ('monEspace', {id: loggedUser.username})}} method="post">
                <input type="text" class="form-control" id="username">
                <input type="text" class="form-control" id="password">
                <input type="hidden" id="_token" value={{ csrf_token ('editAdmin')}}>
                <!-- envoi requete-->
                <button id="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
