
{% extends "admin/admin.html.twig" %}

{% block title %}Modifier l'établissement{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier les informations de l'établissement</h1>
        {{ include ("admin/etablissements/FormEtablissement.html.twig", {form: form, button: 'Enregistrer'}) }}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
