
{% extends "admin/admin.html.twig" %}

{% block title %}Modifier l'actualité{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier les informations de l'actualité</h1>
        {% if actu.filename %}
            <img class="imgSelect" src={{ vich_uploader_asset(actu, 'imageFile')}}>
        {% else %}
            <p>Pas de photo enregistrée</p>
        {% endif %}
        {{ include ("admin/actus/FormActu.html.twig", {form: form, button: 'Enregistrer'}) }}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
